<div class="main-inner-doctor">
    {{#if doctors}}
    {{#each doctors}}
    <article class="doc-poster">
        <div class="doc-icons">
            <a href="/doctores/{{this._id}}" title="Ver detalles de {{this.name}}">
                <i class="fa-solid fa-eye"></i>
            </a>
        </div>
        <img src="{{this.photo}}" alt="Foto de {{this.name}}" class="doc-photo" loading="lazy" />
        <div class="doc-details mb-3">
            <h2>{{this.name}}</h2>
        </div>
    </article>
    {{/each}}
    {{else}}
    <p class="message-error" role="alert">{{message}}</p>
    {{/if}}
</div>