<div id="tab-content" class="tab-content">
    <p class="info-title">Acerca de <span class="info-name">{{nurse.name}}</span></p>
    <div class="info-container">
        <p class="about">{{nurse.about}}</p>
        <div class="container-cards">
            <div class="education-section">
                <h3 class="section-title">Educación</h3>
                <ul class="education-list">
                    {{#each nurse.education}}
                    <li class="education-item">
                        <div>
                            <span class="date">{{this.startingDate}}
                                -
                                {{this.endingDate}}</span>
                            <span class="date">{{this.date}}</span>
                            <p class="degree">{{this.degree}}</p>
                        </div>
                        <p class="university">{{this.university}}</p>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="experience-section">
                <h3 class="section-title">Experiencia</h3>
                <ul class="experience-list">
                    {{#each nurse.experiences}}
                    <li class="experience-item">
                        <div>
                            <span class="date">{{this.startingDate}}
                                -
                                {{this.endingDate}}</span>
                            <p class="position">{{this.position}}</p>
                        </div>
                        <p class="hospital">{{this.hospital}}</p>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <div class="experience-section">
                <h3 class="section-title">Servicios</h3>
                <ul class="experience-list">
                    {{#each nurse.services}}
                    <li class="experience-item">
                        <div>
                            <span class="date">{{this.title}}</span>
                            <p class="position">{{this.description}}</p>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>